@page
@model MapModel
@{
    ViewData["Title"] = "Map";
}

@section PageHeader{
    <!-- Page Header
    ================================================== -->
    <div class="page-header">
        <div class="container">
            <h1>Map</h1>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <iframe class="map-frame" src="//50.241.174.244:8123/"></iframe>
    </div>
</div>