@page
@model RulesModel
@{
    ViewData["Title"] = "Rules";
}

@section PageHeader{
    <!-- Page Header
    ================================================== -->
    <div class="page-header">
        <div class="container">
            <h1>Rules</h1>
        </div>
    </div>
}

<!-- General Rules -->
<section class="section">
    <div class="title-bordered" data-animation="fadeInUp" data-animation-delay="0">
        <h2>General Rules</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- List Group (thumb) -->
            <ul class="list-group list-group__color-secondary">
                <li class="list-group-item" data-animation="fadeInLeft" data-animation-delay="0">
                    <h5 class="bold">No Inappropriate Skins <span class="text-danger bold">(Ban)</span></h5>
                    Do not use offensive or graphic skins.
                </li>
                <li class="list-group-item" data-animation="fadeInLeft" data-animation-delay="200">
                    <h5 class="bold">No Inappropriate Usernames <span class="text-danger bold">(Ban)</span></h5>
                    Do not use a username which is offensive or inappropriate.
                </li>
                <li class="list-group-item" data-animation="fadeInLeft" data-animation-delay="400">
                    <h5 class="bold">No Begging <span class="text-danger bold">(Ban)</span></h5>
                    Do not beg for items or resources.
                </li>
            </ul>
            <!-- List Group (thumb) / End -->
        </div>
        <div class="col-md-6">
            <!-- List Group (thumb) -->
            <ul class="list-group list-group__color-secondary">
                <li class="list-group-item" data-animation="fadeInLeft" data-animation-delay="200">
                    <h5 class="bold">No Hacks or Modded Clients <span class="text-danger bold">(Ban)</span></h5>
                    Any form of cheating through hacked or modded clients.
                </li>
                <li class="list-group-item" data-animation="fadeInLeft" data-animation-delay="400">
                    <h5 class="bold">No Exploiting <span class="text-danger bold">(Ban)</span></h5>
                    If you find a bug report it ASAP, do not exploit it.
                </li>
            </ul>
            <!-- List Group (thumb) / End -->
        </div>
    </div>
    <!-- Other Features / End -->
</section>
<!-- General Rules / End -->

<div class="spacer-sm"></div>

<!-- Interaction & Chat Rules -->
<section class="section">
    <div class="title-bordered" data-animation="fadeInUp" data-animation-delay="0">
        <h2>Interaction & Chat</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- List Group (thumb) -->
            <ul class="list-group list-group__color-secondary">
                <li class="list-group-item" data-animation="fadeInLeft" data-animation-delay="0">
                    <h5 class="bold">No Spamming or Excessive Caps <span class="text-danger bold">(Mute)</span></h5>
                    Do not constantly spam in chat or use too many capital letters.
                </li>
                <li class="list-group-item" data-animation="fadeInLeft" data-animation-delay="0">
                    <h5 class="bold">No Excessive Swearing <span class="text-danger bold">(Mute)</span></h5>
                    Keep it to a minimum.
                </li>
                <li class="list-group-item" data-animation="fadeInLeft" data-animation-delay="400">
                    <h5 class="bold">No Advertising <span class="text-danger bold">(Ban)</span></h5>
                    Do not advertise other servers or server websites in chat.
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group list-group__color-secondary">
                <li class="list-group-item" data-animation="fadeInLeft" data-animation-delay="200">
                    <h5 class="bold">No Harassment <span class="text-danger bold">(Mute)</span></h5>
                    Be respectful and kind to others while playing.
                </li>
                <li class="list-group-item" data-animation="fadeInLeft" data-animation-delay="400">
                    <h5 class="bold">No Impersonating <span class="text-danger bold">(Ban)</span></h5>
                    Do not pretend to be a staff member or another player.
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Interaction & Chat / End -->
<!-- Building Rules -->
<section class="section">
    <div class="title-bordered" data-animation="fadeInUp" data-animation-delay="0">
        <h2>Building</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- List Group (thumb) -->
            <ul class="list-group list-group__color-secondary">
                <li class="list-group-item" data-animation="fadeInLeft" data-animation-delay="0">
                    <h5 class="bold">No Inappropriate Building <span class="text-danger bold">(Mute)</span></h5>
                    Do not create offensive buildings, structures, or signs.
                </li>
                <li class="list-group-item" data-animation="fadeInLeft" data-animation-delay="0">
                    <h5 class="bold">No Crowding Neighbors <span class="text-danger bold">(Demolition, Ban)</span></h5>
                    Do not build too close to a neighbor without asking permission first.
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group list-group__color-secondary">
                <li class="list-group-item" data-animation="fadeInLeft" data-animation-delay="200">
                    <h5 class="bold">No Sky Bridges <span class="text-danger bold">(Demolition, Ban)</span></h5>
                    Do not build bridges stretching for miles through the sky.
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Building / End -->